.app-header {
    background-color: #222;
    height: 180px;
    padding: 10px 20px;
    color: white;
}

.app-header .input-options {
    margin: 0 auto;
    padding: 5px;
    width: 430px;
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.app-header .game-options-form {
    transition: opacity 0.4s;
}

.app-header .game-options-form.players,
.app-header .game-options-form.cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    opacity: 1;
}

.app-header .game-options-form.disabled  {
    opacity: 0;
}

.app-header .game-options-form input {
    margin: 0 10px;
    min-width: 80px;
    text-align: center;
    border-radius: 3px;
    border: none;
}

.app-header .submit-game-options {
    margin: 0 auto;
    transition: opacity 0.4s;
    opacity: 1;
}

.app-header .submit-game-options:disabled {
    opacity: 0;
}

.app-header .error {
    color: red;
    position: absolute;
    bottom: 0px;
}