.App-header {
    background-color: #222;
    height: 180px;
    padding: 10px 20px;
    color: white;
}

.App-header .input-options {
    margin: 0 auto;
    width: 430px;
    height: 60px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.App-header .game-options-form {
    transition: opacity 0.4s;
}

.App-header .game-options-form.players,
.App-header .game-options-form.cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    opacity: 1;
}

.App-header .game-options-form.disabled  {
    opacity: 0;
}

.App-header .game-options-form input {
    margin: 0 10px;
    border-radius: 3px;
    border: none;
}

.App-header .error {
    color: red;
    position: absolute;
    bottom: -30px;
}