.poker-table {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    height: 100%;
    padding: 50px;
}

.poker-table .intro {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.poker-table .intro .title {
    font-size: 18px;
    text-transform: capitalize;
}

.poker-table .intro .deal-cards {
    max-width: 100px;
}

.poker-table .card-container {
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 0;
}

.poker-table .card {
    width: 100px;
    height: 150px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.poker-table .card .suit {
    width: 38px;
    height: 40px;
    margin: 0 auto;
    flex-shrink: 0;
    flex-basis: 40px;
}

.poker-table .card .suit.hearts {
    background: url('./images/hearts.png') center center / contain no-repeat;
}

.poker-table .card .suit.spades {
    background: url('./images/spades.png') center center / contain no-repeat;
}

.poker-table .card .suit.diamonds {
    background: url('./images/diamonds.png') center center / contain no-repeat;
}

.poker-table .card .suit.clubs {
    background: url('./images/clubs.png') center center / contain no-repeat;
}

.poker-table .players-deck {
    border: 1px solid black;
    margin: 10px auto;
    border-radius: 5px;
    width: 100%;
    max-width: 550px;
    min-height: 400px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 30px;
}

.poker-table .players-deck .player-num {
    position: absolute;
    top: 10px;
    left: 10px;
}

.poker-table .players-deck .draw,
.poker-table .players-deck .winner {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 10px;
}

.poker-table .players-deck .winner {
    color: lightgreen;
}

.poker-table .players-deck .draw {
    color: lightblue;
}

.poker-table .players-deck .points-info {
    width: 100%;
    position: absolute;
    bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}